# python3 -m venv .venv
# Set-ExecutionPolicy Unrestricted -Scope Process
# .venv\Scripts\activate
# pip install -r requirements.txt

counterfit
counterfit_shims_grove
counterfit_shims_seeed_python_dht
Werkzeug==2.2.2
paho-mqtt

